<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body>
<header class="header">
    <div class="headerAndLogo">
        <a class="header-link" href="index.html">
            <img class="header-image" src="https://placekitten.com/100/100" alt="header logo img link to homepage">
            <a href="#main" class="skip">Skip to content</a>
        </a>
        <h1>Cats Power the Internet</h1>

    <nav class="menu">
        <li><button class="button" type="button">☰</button>
            <ul class="menu-link">
                <li><a href="index.html">Home</a></li>
                <li><a href="cats.html">Famous Cats</a></li>
                <li><a href="index.html">Cat Events</a></li>
            </ul>
        </li>
    </nav>
    </div>
</header>
<main id="main">
    <div class="content">
        <img class="content-image1" src="https://placekitten.com/200/200" alt="content img link to the first cat">
        <div class="article1">
            <h2>Long time Internet Subjects</h2>
            <p>Cats are far more similar to their wild ancestors than dogs are to wolves, so dogs are in that sense the more domesticated of the two species. </p>
            <p>As they adapted to living alongside humans, cats became more sociable with one another and much more accepting of people.</p>
            <p>but there is no evidence that they have changed much more than that over the past few thousand years.</p>
        </div>
    </div>
    <div class="content">
        <img class="content-image2" src="https://placekitten.com/200/200" alt="content img link to the second cat">
        <div class="article2">
            <h3>Long time Internet Kings</h3>
            <p>Cats and dogs belong to a group of mammals known as Carnivora, and the wild ancestors of both species dined primarily on meat</p>
            <p>Recent DNA analyses indicate that over the course of their evolution</p>
            <p> dogs have acquired more copies of the so-called amylase gene, which makes an enzyme that helps to break down starch</p>
        </div>
    </div>
</main>
<footer>
    <ul class="footer__nav">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Work for Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Social Media</a></li>
    </ul>
</footer>
<script src="Menu.js"></script>
</body>
</html>